body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  background-color: rgb(16, 87, 87);
  height: auto;
  width: 50%;
  margin-left: 25%;
  border-radius: 100px;
  font-size: 25px;
  min-height: 5rem;
}
button {
  background-color: green;
  border: none;
  width: 100px;
  height: 25px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 767px){
  .container{
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1217px){
  .container{
    width: 60%;
    margin-left: 20%;
    border-radius: 20px   ;
  }
}