body{
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #bbb2d2;
}
.container{
  background-color: #3e35ae;
  min-height: 60vh;
  height: auto;
  width: 25%;
  margin:auto;
  border-radius: 10px;
  font-size: 25px;
  color: white;

}
button {
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: white;
  border-radius: 50%;
  cursor: pointer;

  margin-left: 20px;
}
.search-input{
  margin-top: 2rem;
  height: 30px;
  border-radius: 20px;
  width: 60%;
}

.emoji{
  font-size: 80px;
  margin-top: 0px;
  margin-bottom: 0;
}
.emoji p {
  margin-top: 0px;
  margin-bottom: 0;
}
.humidity {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.forecast-data{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.forecast-container{
  margin-top: 5rem;
}

.forecast{
  width: 80%;
  margin-left: 10%;

}
.date{
  font-size: 17px;
}
  .forecast-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 2rem;
    cursor: pointer;
  }
  .forecast-title:hover{
    transform: scale(1.02);
  }
  .forecast-data p {
    text-align: left;
  }
  .forecast-data p span {
    float: right;
  }
.forecast-title  div .desc{
display: inline;
margin-right: 20px;
}
  


@media (max-width: 767px){
  .container{
    width: 100%;
    margin-left: 0;
    border-radius: 20px;
  }
  .forecast-container{
    width: 100%;
  }
  .forecast{
    width: 100%;
    margin: 0;
  }

}
@media (min-width: 768px) and (max-width: 1217px){
  .container{
    width: 60%;
    margin-left: 20%;
    border-radius: 20px   ;
  }
}